.wrapper {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.hidden {
  visibility: hidden;
}

.header,
.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
