.wrapper {
  display: flex;
  flex-direction: column;
}

.header,
.content,
.footer {
  display: flex;
}

.box {
  flex: 1;
}

.header {
  flex: 1;
}

.content {
  flex: 3;
}

.main {
  flex: 3;
}

.footer {
  flex: 1;
}

.hidden {
  visibility: hidden;
}
